<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <title>Help Health Me</title>
    <link href="/css/blog.css" rel = "stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Prompt&family=Roboto&display=swap');
                /* Your CSS styles go here */
        body {
            font-family: 'Prompt', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
        }
        header {
            background-color: #333;
            color: #fff;
            padding: 10px 0;
            text-align: center;
        }
        .container {
            max-width: 800px;
            margin: 20px auto;
            padding: 0 20px;
        }
        nav {

            padding: 10px;
            text-align: center;
        }
        nav a {
            color: #fff;
            text-decoration: none;
            margin: 0 10px;
            font-size: 18px;
        }
        nav a:hover {
            text-decoration: underline;
        }
        .Logo{
            position: static;
            float: left;
        }
        .Logout{
            position: static;
            float: right
        }
        .container {
            max-width: 400px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        p{
            font-size: small;
        }

    </style>
</head>
<body>
    <header>
        <nav>
            <a href="" class="Logo">LOGO</a>
            <a href="/home">BMI</a>
            <a href="/health_information">Health Information</a>
            <a href="/community">Community</a>
            
            <% if (loggedIn) { %>
                
                <a href="/logout" class="logout">Logout</a>
                <a href=""class="name"><%= UserData.email %>  |</a>
            <% } %>

            <% if (!loggedIn) { %>
            <a href="/register"class="signup">Sign Up</a>
            <a href="/login"class="signin">Sign In</a>
            <% } %>
        </nav>
    </header>
    <div class = "img">
        <img src="https://img.freepik.com/free-photo/portrait-muscular-man-taking-break-hydrate-his-body-after_158595-4649.jpg?t=st=1711461075~exp=1711464675~hmac=44f8b6e11f5d551552a3c3d14ccc519e4814376573c37aa9ea1f24b17301ef38&w=1480" 
        style="  position: relative;
                justify-content: center;
                display: flex;
                max-width: 800px;
                margin: 20px auto;
                border-radius: 5%;
                padding: 20px;">
                </div>
        <div style="max-width: 1000px;margin: 20px auto;">
            <h1 >
                ทําไมคุณถึงต้องการโปรตีน: กรดอะมิโนทํางานอย่างไรในร่างกายของคุณ</h1>
            <p>Susan Bowerman, M.S., R.D., CSSD, CSOWM, FAND – Sr. Director, Worldwide Nutrition Education and Training
                
               | 19 กรกฎาคม 2566
            </p>
            <p ">คุณรู้ไหมว่าการบริโภคโปรตีนทุกวันเป็นสิ่งสำคัญ แต่คุณรู้ไหมว่าทำไม? โปรตีนคืออะไรกันแน่ และมีประโยชน์ต่อร่างกายอย่างไร? มาทำความเข้าใจกัน

             โปรตีนเป็นสารอาหารหลักที่เป็นองค์ประกอบสำคัญของอาหารเพื่อสุขภาพ นับตั้งแต่คุณยังเด็ก คุณคงเคยได้ยินว่าโปรตีนจะทำให้คุณ “เติบโตและแข็งแรง” และในขณะที่มีการถกเถียงกันว่าใครเป็นผู้สร้างคำว่า "โปรตีน" (Protein) ขึ้นมา (คำนี้ปรากฏครั้งแรกในวรรณกรรมทางวิทยาศาสตร์ในปี 1838) และไม่มีข้อโต้แย้งว่าคำนี้มาจากภาษากรีกว่า "protos" ซึ่งแปลว่า "อันดับหนึ่งหรือตำแหน่ง" – โดยตระหนักว่าโปรตีนมีความสำคัญต่อชีวิตเพียงใด
            </p>
            <h3>กรดอะมิโนคืออะไร? มีอยู่เท่าไร?</h3>
            <P>
                โปรตีนที่คุณรับประทาน (และโปรตีนที่มีอยู่ในร่างกายของคุณ) ล้วนประกอบด้วยหน่วยเล็กๆ ที่เรียกว่ากรดอะมิโน คุณมักจะได้ยินกรดอะมิโนที่เรียกว่า “building blocks” เนื่องจากหน่วยเล็กๆ เหล่านี้ประกอบขึ้นด้วยวิธีการต่างๆ เพื่อสร้างโปรตีน
            </P>
            <p>
                การนึกถึงกรดอะมิโนแบบเดียวกับตัวอักษรอาจช่วยได้ ในภาษาอังกฤษ เราใช้ตัวอักษรเพียง 26 ตัวเพื่อสร้างคำทั้งหมดที่เราเขียนและพูด คำบางคำสั้น บางคำยาว แต่เราสร้างคำนับล้านคำจากตัวอักษรเพียง 26 ตัว ลำดับสุดท้ายของตัวอักษรคือสิ่งที่ทำให้แต่ละคำมีเสียงและความหมาย
            </p>
            <p>
                ในทำนองเดียวกัน มีกรดอะมิโน 20 ชนิดที่สามารถนำมาร้อยรวมกันเพื่อสร้างโปรตีน ทั้งที่คุณบริโภคเข้าไปและที่ร่างกายสร้างขึ้น และเช่นเดียวกับที่เราไม่ได้ใช้ตัวอักษรทั้ง 26 ตัวเพื่อสร้างทุกคำ โปรตีนส่วนใหญ่ก็ไม่ได้มีกรดอะมิโนครบ 20 ตัวเช่นกัน
            </p>
            <p>
                แต่เช่นเดียวกับที่ตัวอักษรที่ร้อยเข้าด้วยกันเพื่อสร้างคำ กรดอะมิโนสามารถถูกร้อยเข้าด้วยกันในลำดับที่ต่างกันและในความยาวที่แตกต่างกัน (ตั้งแต่กรดอะมิโนเพียงไม่กี่ตัวไปจนถึงหลายพันตัว) เพื่อสร้างโปรตีนที่แตกต่างกัน ลำดับของกรดอะมิโนทำให้โปรตีนแต่ละชนิดมี “ความหมาย” เนื่องจากโครงสร้างสุดท้ายของสายโซ่กรดอะมิโนเป็นตัวกำหนดว่าโปรตีนนั้นคืออะไรและทำหน้าที่อะไร
            </p>
            <h3>กรดอะมิโนสร้างโปรตีนในร่างกายของคุณได้อย่างไร?</h3>
            <p>
                เมื่ออาหารที่มีโปรตีนเดินทางผ่านทางเดินอาหาร อาหารเหล่านั้นจะถูกย่อยเป็นกรดอะมิโนแต่ละตัวและถูกดูดซึมเข้าสู่กระแสเลือด ร่างกายของคุณใช้ส่วนประกอบเหล่านี้เพื่อผลิตโปรตีนในร่างกายที่แตกต่างกันประมาณ 50,000 ชนิด โดยแต่ละโปรตีนมีโครงสร้าง (และการทำงาน) เฉพาะตามการจัดเรียงกรดอะมิโน
            </p>
            <p>
                ตราบใดที่ร่างกายของคุณมี "วัตถุดิบ" ที่จำเป็นทั้งหมดในรูปแบบของกรดอะมิโน ก็สามารถผลิตโปรตีนที่สำคัญในร่างกายเหล่านี้ได้ ตั้งแต่เอนไซม์ที่เร่งปฏิกิริยาทางเคมีในร่างกายไปจนถึงฮอร์โมนที่ทำหน้าที่เป็นตัวส่งสารเคมี (โปรตีนอื่นๆ สนับสนุนการทำงานของระบบภูมิคุ้มกันหรือขนส่งสารอาหารในร่างกาย และแน่นอนว่าคุณมีโปรตีนที่สร้างโครงสร้างให้กับกระดูก ผิวหนัง ผม เล็บ และกล้ามเนื้อของคุณด้วย)
            </p>
            <p>
                เมื่อกรดอะมิโนเข้าสู่กระแสเลือดของคุณ จะไม่มีทางบอกได้ว่าพวกมันมาจากถั่วเลนทิลหรือสเต็ก พวกมันทั้งหมดกลายเป็น "แหล่งน้ำ" ของกรดอะมิโนในเนื้อเยื่อและของเหลวของร่างกาย ซึ่งเป็นแหล่งน้ำที่สามารถนำมาใช้ได้ตามต้องการ เพื่อให้มั่นใจว่ามีปริมาณโปรตีนคงที่ สิ่งสำคัญคือต้องบริโภคโปรตีนในปริมาณที่เพียงพอทุกวัน
            </p>
            <h3>ทำไมคุณถึงต้องการโปรตีนทุกวัน</h3>
            <p>
                ​การรับประทานโปรตีนในปริมาณและประเภทที่เหมาะสมทุกวันเป็นสิ่งสำคัญ เพราะหากคุณขาดโปรตีนในอาหารอย่างต่อเนื่อง ร่างกายของคุณก็ไม่มีทางเลือกอื่นนอกจากเริ่มสลายโปรตีนภายในร่างกายเพื่อให้ได้กรดอะมิโนที่จำเป็นให้มากที่สุดเพื่อใช้ในการผลิตโปรตีนที่สำคัญของร่างกาย
            </p>
            <p>
                แม้ว่ากระบวนการสร้างและสลายนี้เกิดขึ้นในร่างกายของคุณตลอดเวลา แต่ระบบจะทำงานได้ตราบเท่าที่มีกรดอะมิโนเพียงพอจากอาหารเพื่อรักษาสมดุลของกระบวนการทั้งสอง
            </p>

            <h3>โปรตีนที่สมบูรณ์และไม่สมบูรณ์</h3>
            <p>
                ประเภทของโปรตีนที่คุณบริโภคก็มีความสำคัญเช่นกัน จากกรดอะมิโน 20 ชนิดที่ร่างกายใช้ในการผลิตโปรตีนในร่างกาย กรดอะมิโน 9 ชนิดในนั้นเรียกว่า "จำเป็น" ซึ่งต้องมาจากอาหารของคุณเพราะร่างกายไม่สามารถสร้างได้ (แม้ว่าจะสามารถผลิตกรดอะมิโนที่เหลือได้ 11 ชนิดก็ตาม)


            </p>


        </div>
            


    
    <footer>
        <div class="container">
            <p>&copy; Heal Health Me . 
                contact ig: scatterswu</p>
        </div>
    </footer>
</body>
</html>